body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#main-nav ul li {
    display: inline;
    margin: 0 10px;
}

#main-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

#main-nav ul li a:hover {
    background-color: #555;
}

.content {
    padding-top: 60px; /* Ensure content starts below fixed nav */
    text-align: center;
    height: 1500px; /* Example content height */
    background-color: #f7f7f7;
}
.page1 {
    padding-top: 60px; /* Ensure content starts below fixed nav */
    text-align: center;
    height: 1500px; /* Example content height */
    background-color: #f7f7f7;
}
.page2 {
    padding-top: 60px; /* Ensure content starts below fixed nav */
    text-align: center;
    height: 1500px; /* Example content height */
    background-color: #f7f7f7;
}

